body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0d0f13;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #161a20;
}

.nav h2 {
    margin: 0;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #ccc;
    font-weight: 500;
}

.nav a:hover {
    color: white;
}

.hero {
    text-align: center;
    padding: 150px 20px;
}

.hero h1 {
    font-size: 50px;
}

.btn {
    background: #4b8eff;
    padding: 12px 25px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: 0.3s;
}

.btn:hover {
    background: #1e6dff;
}

.upload-container,
.live-container {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

.uploaded-img {
    width: 250px;
    border-radius: 8px;
    margin-top: 15px;
}

.result-box {
    margin-top: 30px;
    background: #1e2228;
    padding: 20px;
    border-radius: 10px;
}

.prediction {
    color: #4b8eff;
    font-size: 26px;
}
